.container {
  width: 100%;
  min-height: 100vh;
  background-image: url(./../public/bg.jpg);
  background-size: cover;
}

.inner-section   {
  width: 45%;
  margin: auto;
}

.last-section {
  margin: auto;
}